.itIsA,
.minimalistRoom {
  position: absolute;
  color: var(--grayscale-black);
}
.minimalistRoom {
  top: 191px;
  left: 477px;
  font-size: var(--poppins-bold-56-size);
  line-height: 140%;
}
.itIsA {
  top: 309px;
  left: 461px;
  line-height: 160%;
  text-align: center;
  display: inline-block;
  width: 518px;
}
.aboutUs,
.home,
.ourTeams {
  position: absolute;
  top: 0;
  left: 0;
}
.aboutUs,
.ourTeams {
  left: 122px;
}
.ourTeams {
  left: 409px;
  font-weight: 600;
}
.homeParent,
.services {
  position: absolute;
  top: 0;
  left: 268px;
}
.homeParent {
  top: 55px;
  left: 606px;
  width: 498px;
  height: 24px;
  font-size: var(--poppins-medium-16-size);
  color: var(--grayscale-50);
}
.contactUs {
  position: relative;
  font-weight: 500;
}
.contactUsWrapper {
  position: absolute;
  top: 42px;
  left: 1178px;
  background-color: var(--primary-blue-100);
  border: 1px solid var(--grayscale-30);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--poppins-medium-14-size);
  color: var(--background-white);
}
.dananz,
.dananzWrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.dananz {
  line-height: 170%;
}
.dananzWrapper {
  width: 126px;
  height: 54px;
}
.groupChild,
.groupParent {
  position: absolute;
  top: 28px;
  left: 54.62px;
  width: 45.38px;
  height: 14.5px;
}
.groupParent {
  top: 40px;
  left: 120px;
  width: 126px;
  height: 54px;
  font-size: 31.93px;
  color: var(--grayscale-black);
}
.groupItem,
.portofoliosDetailsChild,
.portofoliosDetailsItem {
  position: absolute;
  top: 80.5px;
  left: 174.85px;
  width: 5.37px;
  height: 6.5px;
}
.groupItem,
.portofoliosDetailsItem {
  left: 214.35px;
}
.groupItem {
  top: 0;
  left: 0;
  background-color: var(--primary-blue-100);
  width: 1440px;
  height: 203px;
}
.contactUsBelow,
.letsDiscussMaking {
  position: absolute;
  left: 0;
  display: inline-block;
}
.letsDiscussMaking {
  top: 3px;
  line-height: 170%;
  font-weight: 600;
  width: 613px;
}
.contactUsBelow {
  top: 0;
  line-height: 160%;
  width: 432px;
}
.contactUsContainer {
  position: absolute;
  top: 78px;
  left: 0;
  background-color: var(--background-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--poppins-medium-14-size);
  color: var(--grayscale-50);
}
.contactUsBelowToWorkTogetParent {
  position: absolute;
  top: 0;
  left: 768px;
  width: 432px;
  height: 127px;
  font-size: var(--poppins-semibold-18-size);
  color: var(--color-gainsboro);
}
.groupWrapper,
.letsDiscussMakingYourInteParent,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 127px;
}
.groupWrapper,
.rectangleParent {
  top: 38px;
  left: 120px;
}
.rectangleParent {
  top: 0;
  left: 0;
  width: 1440px;
  height: 203px;
  color: var(--background-white);
}
.groupInner {
  position: absolute;
  top: 359.6px;
  left: 1288px;
  width: 25.63px;
  height: 10.65px;
}
.emailAddress,
.enterYourEmail {
  position: absolute;
  top: 0;
  left: 24px;
  line-height: 160%;
}
.emailAddress {
  top: 52.23px;
  left: 0;
  font-size: var(--poppins-medium-16-size);
  color: var(--color-gainsboro);
  display: inline-block;
  width: 113px;
  height: 27.03px;
}
.ellipseIcon {
  position: absolute;
  top: 8.17px;
  left: 0;
  width: 14px;
  height: 14.02px;
}
.enterYourEmailToGetTheLaParent {
  position: absolute;
  top: 315px;
  left: 880px;
  width: 380px;
  height: 79.26px;
  font-size: var(--poppins-semibold-18-size);
}
.oneOfThe {
  position: absolute;
  top: 349px;
  left: 120px;
  line-height: 170%;
  font-weight: 600;
  display: inline-block;
  width: 481px;
}
.groupChild1,
.groupChild2,
.groupChild3,
.groupChild4 {
  position: absolute;
  top: 37px;
  left: 0;
  width: 32px;
  height: 32px;
}
.groupChild2,
.groupChild3,
.groupChild4 {
  top: 36.72px;
  left: 57px;
}
.groupChild3,
.groupChild4 {
  top: 37px;
  left: 114px;
}
.groupChild4 {
  left: 171px;
}
.followUsOn {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 160%;
}
.ellipseParent {
  position: absolute;
  top: 449px;
  left: 1117px;
  width: 203px;
  height: 69px;
  font-size: var(--poppins-medium-16-size);
}
.lineDiv {
  position: absolute;
  top: 408.78px;
  left: 879.5px;
  border-top: 1px solid var(--grayscale-70);
  box-sizing: border-box;
  width: 441px;
  height: 1px;
}
.groupDiv {
  position: absolute;
  top: 283px;
  left: 120px;
  width: 126px;
  height: 54px;
  font-size: 31.93px;
  color: var(--grayscale-black);
}
.groupContainer {
  position: absolute;
  top: 3167px;
  left: 0;
  width: 1440px;
  height: 518px;
  font-size: var(--poppins-semibold-36-size);
  color: var(--grayscale-50);
}
.interiorDesign,
.july22,
.onlineLearningWith {
  position: absolute;
  left: 120px;
  line-height: 160%;
}
.onlineLearningWith {
  top: 1120px;
  display: inline-block;
  width: 584px;
}
.interiorDesign,
.july22 {
  top: 1354px;
}
.interiorDesign {
  left: 324px;
}
.onlineLearningWith1,
.onlineLearningWith2 {
  position: absolute;
  top: 1120px;
  left: 736px;
  line-height: 160%;
  display: inline-block;
  width: 584px;
}
.onlineLearningWith2 {
  top: 1266px;
}
.designProcess,
.projectOverview {
  position: absolute;
  top: 1062px;
  left: 120px;
  font-size: var(--poppins-semibold-24-size);
  line-height: 140%;
  font-weight: 600;
  color: var(--grayscale-50);
}
.designProcess {
  left: 736px;
}
.maskGroupIcon,
.maskGroupIcon1 {
  position: absolute;
  top: 449px;
  left: 120px;
  width: 1200px;
  height: 513px;
  object-fit: cover;
}
.maskGroupIcon1 {
  top: 1464px;
  width: 584px;
}
.maskGroupIcon2,
.maskGroupIcon3,
.maskGroupIcon4,
.maskGroupIcon5 {
  position: absolute;
  top: 2554px;
  left: 736px;
  width: 584px;
  height: 513px;
  object-fit: cover;
}
.maskGroupIcon3,
.maskGroupIcon4,
.maskGroupIcon5 {
  left: 120px;
}
.maskGroupIcon4,
.maskGroupIcon5 {
  top: 1464px;
  left: 736px;
}
.maskGroupIcon5 {
  top: 2009px;
  left: 120px;
  width: 1200px;
}
.portofoliosDetailsInner {
  position: absolute;
  top: 3657px;
  left: 1121px;
  width: 195px;
  height: 24px;
}
.portofoliosDetails {
  position: relative;
  background-color: var(--background-white);
  width: 100%;
  height: 3765px;
  overflow: hidden;
  text-align: left;
  font-size: var(--poppins-semibold-18-size);
  color: var(--grayscale-10);
  font-family: var(--poppins-semibold-18);
}
