.footerChild {
  position: relative;
  border-top: 1px solid var(--gray);
  box-sizing: border-box;
  width: 1367px;
  height: 1px;
  flex-shrink: 0;
}
.elias {
  position: absolute;
  top: 0;
  left: 31.43%;
}
.unionChild,
.unionItem {
  position: absolute;
  height: 25%;
  width: 25%;
}
.unionChild {
  top: 0;
  right: 25%;
  bottom: 75%;
  left: 50%;
  background-color: var(--white);
}
.unionItem {
  top: 50%;
  bottom: 25%;
}
.rectangleDiv,
.unionInner,
.unionItem {
  right: 0;
  left: 75%;
  background-color: var(--white);
}
.unionInner {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 25%;
  bottom: 50%;
}
.rectangleDiv {
  top: 0;
  bottom: 75%;
}
.rectangleDiv,
.unionChild1,
.unionChild2 {
  position: absolute;
  height: 25%;
  width: 25%;
}
.unionChild1 {
  top: 50%;
  right: 25%;
  bottom: 25%;
  left: 50%;
  background-color: var(--white);
}
.unionChild2 {
  right: 50%;
  left: 25%;
}
.unionChild2,
.unionChild3 {
  top: 25%;
  bottom: 50%;
  background-color: var(--white);
}
.unionChild3,
.unionChild4,
.unionChild5 {
  position: absolute;
  height: 25%;
  width: 25%;
  right: 75%;
  left: 0;
}
.unionChild4 {
  top: 50%;
  bottom: 25%;
  background-color: var(--white);
}
.unionChild5 {
  top: 75%;
  bottom: 0;
}
.union,
.unionChild5,
.unionChild6 {
  background-color: var(--white);
}
.unionChild6 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 75%;
  right: 50%;
  bottom: 0;
  left: 25%;
}
.union {
  position: relative;
  width: 24px;
  height: 24px;
}
.eliasParent,
.logo {
  position: absolute;
  height: 77.42%;
  width: 22.86%;
  top: 12.9%;
  right: 77.14%;
  bottom: 9.68%;
  left: 0;
}
.eliasParent {
  height: 45.59%;
  width: 22.06%;
  top: 0;
  right: 77.94%;
  bottom: 54.41%;
  font-size: var(--font-size-5xl);
}
.webDesignerIs {
  position: absolute;
  width: 100%;
  top: 69.12%;
  left: 0;
  display: inline-block;
}
.eliaseliasml {
  position: absolute;
  top: 7.35%;
  left: 28.78%;
  color: var(--gray);
}
.groupContainer {
  position: relative;
  width: 476px;
  height: 68px;
  flex-shrink: 0;
}
.groupChild,
.media {
  position: absolute;
  left: 0;
}
.media {
  top: 0;
  font-weight: 500;
}
.groupChild {
  height: 42.67%;
  width: 100%;
  top: 57.33%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mediaParent {
  position: relative;
  width: 112px;
  height: 75px;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
}
.groupParent {
  width: 1025px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.copyright2022Made {
  position: relative;
  color: var(--gray);
}
.footer,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.footer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 685.5px);
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-fira-code);
}
