.drWho {
  position: relative;
}
.drWhoWrapper {
  margin: 0 !important;
  position: absolute;
  top: 94px;
  right: 0;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-fira-code);
}
