@keyframes wobble-hor-bottom {
  0%,
  to {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.locoEats {
  position: relative;
  display: inline-block;
  width: 205px;
  height: 44px;
  flex-shrink: 0;
}
.explore,
.fickleflightLogo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.fickleflightLogo {
  position: relative;
  width: 174px;
  height: 33px;
  flex-shrink: 0;
  overflow: hidden;
}
.explore {
  font-size: var(--font-size-sm);
  font-family: var(--components-button-large);
  color: var(--color-cornflowerblue-200);
  text-align: left;
  display: inline-block;
}
.explore,
.offers,
.search {
  position: relative;
}
.offers {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--components-button-large);
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
}
.navigationMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xl);
}
.hamburgerMenuIcon {
  display: none;
}
.hamburgerMenuIcon,
.notificationBellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.profilePictureIcon {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  object-fit: cover;
}
.accountSection {
  justify-content: center;
  gap: var(--gap-xs);
}
.accountSection,
.navigationRight,
.topContainer,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigationRight {
  justify-content: flex-end;
  gap: var(--gap-17xl);
}
.topContainer,
.topHeader {
  width: 1035px;
  flex-shrink: 0;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--components-button-large);
}
.topHeader {
  align-self: stretch;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  height: 77px;
  padding: var(--padding-3xl) var(--padding-61xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-3xs);
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: var(--zawar-token-font-size);
  color: var(--color-royalblue);
  font-family: var(--zawar-token-font);
}
.bannerBackground,
.bannerGradient {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.bannerGradient {
  top: 0;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
  height: 639.91px;
}
.bannerBackground {
  top: 0.4px;
  max-width: 100%;
  overflow: hidden;
  height: 640px;
  object-fit: cover;
}
.findTheBest,
.letsExplore {
  align-self: stretch;
  position: relative;
}
.findTheBest {
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-family: var(--components-button-large);
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.searchCafes {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.radio,
.radio1 {
  position: absolute;
  top: 0;
  left: 0;
}
.radio1 {
  left: 106px;
}
.flightType {
  position: relative;
  width: 216.53px;
  height: 38px;
  flex-shrink: 0;
}
.flightOptions,
.formTitleGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.formTitleGroup {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-8xs);
  gap: var(--gap-8xs);
}
.departureField {
  align-self: stretch;
  flex: 1;
}
.city {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 12px;
}
.labelContainer {
  background-color: var(--studio-darkmode-allwhite-ffffff);
  height: 2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.avatar,
.op {
  align-items: center;
  justify-content: center;
}
.op {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
  display: flex;
}
.avatar {
  border-radius: var(--br-45xl);
  background-color: var(--grey-grey-400);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
  flex-direction: row;
}
.chip1 {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 18px;
}
.container,
.typography {
  display: flex;
  justify-content: flex-start;
}
.typography {
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-7xs);
  align-items: flex-start;
  text-align: left;
  font-size: var(--components-chip-size);
  color: var(--text-primary);
}
.container {
  border-radius: var(--br-base);
  background-color: var(--grey-grey-300);
  flex-direction: row;
  padding: var(--padding-9xs);
  align-items: center;
}
.chip,
.muiautocompletetag {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag {
  display: none;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.islamabad {
  flex: 1;
  position: relative;
  font-size: var(--components-input-text-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  color: var(--text-primary);
  text-align: left;
}
.active,
.input {
  align-self: stretch;
}
.active {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--grey-grey-700);
}
.input {
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  box-sizing: border-box;
  height: 56px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 var(--padding-xs);
}
.arrivalField,
.formInputsRow,
.input,
.inputsRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrivalField {
  flex: 1;
  box-shadow: var(--shadwo-token);
  flex-direction: column;
}
.formInputsRow,
.inputsRow {
  flex-direction: row;
}
.inputsRow {
  flex: 1;
  padding: var(--padding-8xs);
  gap: var(--gap-3xs);
}
.formInputsRow {
  align-self: stretch;
  font-size: var(--typography-caption-size);
  color: var(--text-secondary);
}
.button {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: center;
  display: inline-block;
  width: 146.98px;
}
.searchFlightsButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  flex-shrink: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.searchFlightsButton:active {
  background-color: var(--color-burlywood-100);
}
.searchContainer,
.searchFlightsButton,
.searchForm {
  display: flex;
  flex-direction: column;
}
.searchForm {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  padding: var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-300);
  font-family: var(--components-button-large);
}
.searchContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  padding: 0 var(--padding-121xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-24xl);
}
.searchSection {
  align-self: stretch;
  position: relative;
  height: 640px;
  flex-shrink: 0;
}
.heroSection {
  align-self: stretch;
  filter: var(--zawar-blur-token);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.recentSearches {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.hotelIcon {
  position: relative;
  width: 65.39px;
  height: 65.39px;
  flex-shrink: 0;
}
.hotel1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.04em;
  font-family: var(--components-button-large);
  color: var(--color-gray-100);
  text-align: left;
}
.hotel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-sandybrown);
  width: 65.39px;
  height: 65.39px;
}
.ticketIcon {
  position: absolute;
  height: 47.93%;
  width: 48.38%;
  top: 26.03%;
  right: 25.81%;
  bottom: 26.04%;
  left: 25.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.attractions1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.04em;
  font-family: var(--components-button-large);
  color: var(--color-gray-100);
  text-align: center;
}
.background1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-mediumspringgreen);
  width: 65.39px;
  height: 65.39px;
}
.cutleryIcon {
  position: absolute;
  height: 49.18%;
  width: 55.56%;
  top: 25.29%;
  right: 22.22%;
  bottom: 25.53%;
  left: 22.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eatsIcon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 65.39px;
  height: 65.39px;
  flex-shrink: 0;
}
.eatsIcon:active {
  animation: 2s ease 0s infinite normal none wobble-hor-bottom;
  opacity: 1;
}
.eats1 {
  position: relative;
  letter-spacing: 0.04em;
}
.eats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-cornflowerblue-100);
  width: 70px;
  height: 65.39px;
}
.taxiIcon1 {
  position: absolute;
  height: 40.15%;
  width: 40.52%;
  top: 29.63%;
  right: 29.74%;
  bottom: 30.22%;
  left: 29.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.taxiIcon {
  position: relative;
  width: 70px;
  height: 65.39px;
  flex-shrink: 0;
}
.taxi1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.04em;
  font-family: var(--components-button-large);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 32.12px;
}
.movies {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.tripMenus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  font-size: var(--components-button-large-size);
  color: var(--color-gray-100);
}
.prepareMenu {
  justify-content: center;
  gap: var(--gap-xl);
}
.flightDetails,
.prepareMenu,
.upcomingFlightSection,
.upcomingFlightSection1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flightDetails {
  justify-content: center;
  color: var(--color-lightgray);
}
.upcomingFlightSection,
.upcomingFlightSection1 {
  justify-content: flex-start;
}
.upcomingFlightSection1 {
  gap: var(--gap-xl);
}
.upcomingFlightSection {
  padding: 0 0 0 var(--padding-179xl);
}
.mostPopularDestinations {
  align-self: stretch;
  position: relative;
  font-size: var(--zawar-token-font-size);
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-darkslategray-300);
}
.titleContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.viewAllCafes {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--color-cornflowerblue-300);
  text-align: right;
  display: inline-block;
  width: 197.33px;
  flex-shrink: 0;
}
.destinationsTitles,
.viewAllTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.viewAllTop {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border-radius: var(--br-12xl);
  width: 231.38px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.destinationsTitles {
  align-self: stretch;
  box-shadow: var(--shadwo-token);
  align-items: center;
}
.parisimageIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cheezious,
.div,
.from {
  color: var(--studio-darkmode-allwhite-ffffff);
}
.cheezious {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-family: var(--components-button-large);
  text-align: left;
}
.div,
.from {
  position: absolute;
  text-align: right;
  display: inline-block;
}
.div {
  top: 21px;
  left: 0;
  font-size: var(--font-size-19xl);
  line-height: 38px;
  font-family: var(--font-baloo-bhai);
  width: 90.92px;
}
.from {
  top: 0;
  left: 38.39px;
  font-size: var(--components-input-text-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--components-button-large);
  width: 52.53px;
}
.details {
  position: relative;
  width: 90.92px;
  height: 59px;
  flex-shrink: 0;
}
.destinationDetails {
  position: absolute;
  width: calc(100% - 0.59px);
  top: 0;
  right: 0.29px;
  left: 0.29px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.pariscard {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  height: 182px;
  flex-shrink: 0;
  overflow: hidden;
}
.col1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: transparent;
  width: 25%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.div1,
.from1 {
  position: absolute;
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: right;
}
.div1 {
  top: 21px;
  left: 0;
  font-size: var(--font-size-19xl);
  line-height: 38px;
  font-family: var(--font-baloo-bhai);
}
.from1 {
  top: 0;
  left: 47.39px;
  font-size: var(--components-input-text-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--components-button-large);
  display: inline-block;
  width: 52.53px;
}
.details1 {
  position: relative;
  width: 99.92px;
  height: 59px;
  flex-shrink: 0;
}
.div3,
.from3 {
  position: absolute;
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: right;
  display: inline-block;
}
.div3 {
  top: 21px;
  left: 0;
  font-size: var(--font-size-19xl);
  line-height: 38px;
  font-family: var(--font-baloo-bhai);
  width: 100.62px;
}
.from3 {
  top: 0;
  left: 48.09px;
  font-size: var(--components-input-text-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--components-button-large);
  width: 52.53px;
}
.details3 {
  position: relative;
  width: 100.62px;
  height: 59px;
  flex-shrink: 0;
}
.cardsContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -16px;
  margin-right: -16px;
}
.viewAllDestinations {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 197.33px;
  flex-shrink: 0;
}
.popDestinationsMain,
.viewAllBottom {
  align-items: flex-start;
  justify-content: flex-start;
}
.viewAllBottom {
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 231.38px;
  display: none;
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: right;
}
.popDestinationsMain {
  align-self: stretch;
  box-shadow: var(--shadwo-token);
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xl);
  color: var(--color-cornflowerblue-300);
}
.recommendedHolidays,
.viewAllChinese {
  position: relative;
  letter-spacing: 0.04em;
}
.recommendedHolidays {
  flex: 1;
  text-transform: capitalize;
}
.viewAllChinese {
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--color-cornflowerblue-300);
  text-align: right;
  display: inline-block;
  width: 165.89px;
  flex-shrink: 0;
}
.recTitle,
.viewAllChineseParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.viewAllChineseParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border-radius: var(--br-12xl);
  width: 199.89px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.recTitle {
  align-self: stretch;
  align-items: center;
}
.unsplash5mv818tzxeoIcon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 242px;
  flex-shrink: 0;
  object-fit: cover;
}
.d3n,
.meiKong {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  font-family: var(--components-button-large);
  text-align: left;
}
.meiKong {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-darkslategray-200);
}
.d3n {
  font-size: var(--components-input-text-size);
  color: var(--color-darkgray);
}
.meiKongParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.div4 {
  position: relative;
  font-size: var(--heading-size);
  line-height: 34px;
  font-family: var(--font-baloo-bhai);
  color: var(--color-cornflowerblue-200);
  text-align: right;
}
.holidayDetails,
.recCard1,
.recCard3,
.recCard4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.holidayDetails {
  align-self: stretch;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  border: 1px solid var(--color-whitesmoke);
  padding: var(--padding-xl) var(--padding-base);
  justify-content: center;
}
.recCard1,
.recCard3,
.recCard4 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: transparent;
  flex: 1;
  box-sizing: border-box;
  justify-content: flex-start;
  width: 25%;
}
.recCardsContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -16px;
  margin-right: -16px;
}
.viewAllHolidays {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 165.89px;
  flex-shrink: 0;
}
.viewAllBottom1 {
  border-radius: var(--br-12xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 199.89px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-300);
}
.recommendedHolidaysContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--zawar-token-font-size);
}
.homeContents {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  max-width: 1280px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-300);
  font-family: var(--components-button-large);
}
.subscribeSectionBackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 530px;
  object-fit: cover;
}
.formTitle,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
}
.formTitle {
  color: var(--color-darkslategray-100);
}
.formHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.fillInYour {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 34px;
  font-family: var(--components-button-large);
  color: var(--color-slategray);
  text-align: left;
}
.formText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input1 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button2 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: left;
}
.button1,
.unstyledbutton {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton {
  padding: var(--padding-5xs) var(--padding-3xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.button1:hover {
  background-color: var(--color-darkorange);
}
.form,
.shareYourTravelsForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-whitesmoke);
  padding: var(--padding-9xl) var(--padding-11xl);
  align-items: flex-start;
  gap: var(--gap-mid);
}
.shareYourTravelsForm {
  position: relative !important;
  top: 52px;
  left: auto !important;
  background-color: var(--warning);
  filter: var(--zawar-blur-token);
  width: 549px;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-11xl);
  margin-left: auto;
  margin-right: auto;
}
.subscribeSection {
  align-self: stretch;
  background-color: var(--color-aliceblue-100);
  height: 529px;
  overflow: hidden;
}
.locoEats1,
.logo,
.subscribeSection {
  position: relative;
  flex-shrink: 0;
}
.locoEats1 {
  font-family: var(--font-rowdies);
  color: var(--color-aliceblue-200);
  display: inline-block;
  width: 205px;
  height: 44px;
}
.logo {
  width: 174px;
  height: 33px;
  overflow: hidden;
}
.fickleFlightIs {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.socialIcons {
  position: relative;
  width: 130px;
  height: 30px;
  flex-shrink: 0;
}
.fickleflightBio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  margin-bottom: 40px !important;
  font-size: var(--font-size-lg);
}
.footerChild {
  position: relative;
  border-right: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1px;
  height: 157.87px;
  flex-shrink: 0;
}
.aboutUs {
  top: 47.76px;
  width: 135.67px;
}
.aboutUs,
.careers,
.company1,
.howWeWork,
.news {
  position: absolute;
  left: 0;
  display: inline-block;
}
.company1 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 174.72px;
}
.careers,
.howWeWork,
.news {
  top: 78.76px;
  width: 84.28px;
}
.careers,
.howWeWork {
  top: 109.76px;
  width: 115.11px;
}
.howWeWork {
  top: 140.76px;
  width: 197.33px;
}
.company {
  position: relative;
  width: 197.33px;
  height: 159.76px;
  flex-shrink: 0;
}
.account,
.support1 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 109.63px;
}
.support1 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 131.56px;
}
.supportCenter {
  top: 78.76px;
  width: 197.33px;
}
.accessibility,
.faq,
.supportCenter {
  position: absolute;
  left: 0;
  display: inline-block;
}
.faq {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 109.76px;
  font-size: var(--components-input-text-size);
  font-family: var(--components-button-large);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: left;
  width: 52.99px;
}
.accessibility {
  top: 140.76px;
  width: 164.44px;
}
.covidAdvisory {
  top: 47.76px;
  width: 172.87px;
}
.airlineFees,
.covidAdvisory,
.more1,
.tips {
  position: absolute;
  left: 0;
  display: inline-block;
}
.more1 {
  top: 0;
  font-size: var(--font-size-xl);
  line-height: 27px;
  font-weight: 500;
  width: 76.65px;
}
.airlineFees,
.tips {
  top: 78.76px;
  width: 135.36px;
}
.tips {
  top: 109.76px;
  width: 50.56px;
}
.more {
  position: relative;
  width: 197.33px;
  height: 159.76px;
  flex-shrink: 0;
}
.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--components-input-text-size);
}
.footer,
.footerSection,
.page10 {
  display: flex;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  padding: var(--padding-14xl) var(--padding-65xl);
  align-items: flex-start;
  gap: var(--gap-25xl);
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--studio-darkmode-allwhite-ffffff);
  font-family: var(--components-button-large);
}
.footerSection,
.page10 {
  flex-direction: column;
}
.footerSection {
  align-self: stretch;
  align-items: flex-start;
  color: var(--color-cornflowerblue-300);
}
.page10 {
  position: relative;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 100%;
  height: 2609px;
  overflow: hidden;
  align-items: center;
  gap: var(--gap-50xl);
  text-align: center;
  font-size: var(--zawar-token-font-size);
  color: var(--studio-darkmode-allwhite-ffffff);
  font-family: var(--zawar-token-font);
}
.page10:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1200px) {
  .footer,
  .topHeader {
    box-sizing: border-box;
  }
  .topHeader {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
  }
  .footer {
    padding: var(--padding-21xl);
  }
}
@media screen and (max-width: 960px) {
  .navigationMenu {
    display: none;
  }
  .hamburgerMenuIcon {
    display: flex;
  }
  .topHeader {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .inputsRow {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .formInputsRow {
    flex-direction: column;
  }
  .searchFlightsButton {
    margin-right: auto;
  }
  .searchForm {
    flex-direction: column;
  }
  .searchContainer {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .prepareMenu {
    width: 100%;
  }
  .flightDetails {
    flex-direction: column;
  }
  .upcomingFlightSection {
    display: block;
  }
  .viewAllTop {
    display: none;
  }
  .col1 {
    padding: var(--padding-base);
    box-sizing: border-box;
    width: 50%;
  }
  .cardsContainer {
    flex-wrap: wrap;
    margin: -16px;
  }
  .viewAllDestinations {
    width: auto;
  }
  .viewAllBottom {
    display: flex;
    margin-top: 16px;
  }
  .viewAllChineseParent {
    display: none;
  }
  .recCard1 {
    width: 50%;
    margin-bottom: 32px;
  }
  .recCard3,
  .recCard4 {
    width: 50%;
  }
  .recCardsContainer {
    margin-left: -16px;
    margin-right: -16px;
    flex-wrap: wrap;
  }
  .viewAllHolidays {
    width: auto;
  }
  .viewAllBottom1 {
    display: flex;
    mrgin-top: 16px;
  }
  .homeContents {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .shareYourTravelsForm {
    padding: var(--padding-5xl) 0;
    box-sizing: border-box;
  }
  .fickleflightBio {
    flex: unset;
    align-self: stretch;
  }
  .footerChild {
    display: none;
  }
  .footerLinks {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .navigationRight {
    display: flex;
  }
  .letsExplore {
    font-size: var(--headlines-size);
    line-height: 48px;
  }
  .searchCafes {
    width: 100%;
    padding-bottom: var(--padding-3xs);
    margin-bottom: 6px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eaeaea;
    flex: unset;
    align-self: stretch;
  }
  .flightType {
    width: 100% !important;
  }
  .flightOptions {
    width: 100%;
  }
  .formTitleGroup {
    flex-direction: column;
    align-items: flex-start;
  }
  .arrivalField,
  .departureField {
    flex: unset;
    align-self: stretch;
  }
  .inputsRow {
    flex-direction: column;
  }
  .searchFlightsButton {
    width: 100% !important;
  }
  .searchForm {
    margin-top: 20px;
  }
  .eats,
  .hotel,
  .movies {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
  }
  .tripMenus {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -28px;
    margin-right: -28px;
  }
  .mostPopularDestinations {
    font-size: var(--font-size-3xl);
  }
  .titleContainer {
    flex: unset;
    align-self: stretch;
  }
  .destinationsTitles {
    flex-direction: column;
    align-self: flex-start;
  }
  .col1 {
    width: 100%;
  }
  .recommendedHolidays {
    font-size: var(--font-size-3xl);
  }
  .recCard1,
  .recCard3 {
    width: 100%;
    margin-bottom: 32px;
  }
  .button1,
  .recCard4 {
    width: 100%;
  }
  .button1:hover {
    background-color: var(--color-peru);
  }
  .shareYourTravelsForm {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .company {
    margin-bottom: 40px !important;
  }
  .footerLinks {
    flex-direction: column;
  }
  .footer {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .page10 {
    width: 100%;
  }
  .page10:hover {
    background-color: var(--color-orange);
  }
}
